h1 {
  color: #494949;
}
.recipe-image {
  width: 100%;
  max-width: 10rem;
  height: 100%;
}
.fav__btn {
  border: 1px solid #1f263e;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  font-weight: bold;
}
.addFav__btn {
  border: none;
  font-weight: bold;
  background-color: red;
  color: white;
  border-radius: 8px;
  padding: 0.5rem 2rem;
}


