.register {
  background: white;
  position: relative;
  padding: 2rem 3rem;
  border-radius: 10px;
  z-index: 999;
  @media screen and (max-width: 991px) {
    padding: 0.5rem 2rem;
    
  }
  .btn-primary {
    border-radius: 8px;
    background: #4aa35a;
    border: none;
    padding: 0.5rem 10rem;
    font-weight: 700;
  }
  .LoginNow {
    a {
      text-decoration: none;
      color: #4aa35a;
      font-weight: 500;
      font-size: 0.875rem;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 1rem;
  }
  p {
    color: rgba(73, 73, 73, 0.6);
    font-weight: 400;
    font-size: 0.875rem;
  }
}
