<div class="d-flex justify-content-center align-items-center h-100 container">
  <div class="col-md-10">
    <div class="login">
      <div class="logo d-flex justify-content-center">
        <img src="images/43.svg" alt="logo" width="300px" />
      </div>
      <div class="auth-register row">
        <div class="text mt-2 col-10">
          <h2>Log In</h2>
          <p>Welcome Back! Please enter your details</p>
        </div>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="row">
          <div class="col-12">
            <div
              class="control"
              [class.invalid]="
                loginForm.get('email')?.invalid &&
                loginForm.get('email')?.touched
              "
            >
              <mat-icon>phone_iphone</mat-icon>
              <div class="line"></div>
              <input
                type="text"
                class="w-100"
                formControlName="email"
                placeholder="email"
              />
            </div>
            <div
              *ngIf="
                loginForm.get('email')?.invalid &&
                loginForm.get('email')?.touched
              "
            >
              <small
                class="text-danger"
                *ngIf="loginForm.get('email')?.errors?.['required']"
                >Email is required.</small
              >
              <small
                class="text-danger"
                *ngIf="loginForm.get('email')?.errors?.['email']"
                >Email is not correct.</small
              >
            </div>
          </div>
          <div class="col-12">
            <div
              class="control"
              [class.invalid]="
                loginForm.get('password')?.invalid &&
                loginForm.get('password')?.touched
              "
            >
              <mat-icon>lock</mat-icon>
              <div class="line"></div>
              <input
                type="password"
                class="w-100"
                formControlName="password"
                placeholder="password"
              />
            </div>
            <div
              *ngIf="
                loginForm.get('password')?.invalid &&
                loginForm.get('password')?.touched
              "
            >
              <small
                class="text-danger"
                *ngIf="loginForm.get('password')?.errors?.['required']"
                >Password is required.</small
              >
            </div>
          </div>
        </div>
        <div class="text d-flex justify-content-between align-items-center">
          <a [routerLink]="['/auth/register']" class="text-primary"
            >Register Now?</a
          >
          <a href="#" class="text-secondry">Forgot Password?</a>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <button class="btn btn-primary w-100">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
