<div class="d-flex justify-content-center align-items-center h-100 container">
  <div class="col-md-10">
    <div class="forget__password">
      <div class="logo d-flex justify-content-center">
        <img src="images/43.svg" alt="logo" width="300px" />
      </div>
      <div class="auth-register row">
        <div class="text mt-2 col-10">
          <h2>Forgot Your Password?</h2>
          <p>
            No worries! Please enter your email and we will send a password
            reset link
          </p>
        </div>
      </div>
      <!-- Fixing form reference and ngModel binding -->
      <form
        (ngSubmit)="sendEmail(forgetPasswordForm)"
        #forgetPasswordForm="ngForm"
      >
        <div class="row">
          <div class="col-12 mt-3">
            <div class="control">
              <mat-icon>phone_iphone</mat-icon>
              <div class="line"></div>
              <input
                type="text"
                class="w-100"
                placeholder="Enter your email"
                [(ngModel)]="email"
                name="email"
                #emailInput="ngModel"
                required
                email
              />
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <button
              class="btn btn-primary w-100"
             
              [disabled]="forgetPasswordForm.invalid"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
