:host {
  display: block;
  height: 100%;
}

.side__bar {
  background: #1f263e;
  overflow: hidden;
  height: 100vh;
  border-top-right-radius: 58px;
  display: flex;
  flex-direction: column;

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    img {
      width: 200px;
      height: 100px;
      @media screen and (max-width: 768px) {
        width: 150px;
        height: 75px;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 1rem;
      width: 100%;
      a {
        &:hover {
          background: #2c3e50;
          opacity: 0.7;
        }
        opacity: 0.7;
        width: 100%;
        padding: 2px 20px;
        &.active {
          background: #2c3e50;
          opacity: 1;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            background: #009247;
            width: 4px;
            height: 100%;
          }
        }
        mat-icon {
          fill: white;
          color: #ffffff;
        }
        h4 {
          @media screen and (max-width: 768px) {
            display: none;
          }
          color: #ffffff;
          margin-top: 0.6rem;
          font-weight: 500;
          font-size: 13px;
          margin-left: 1rem;
        }
        display: flex;
        align-items: center;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .side__bar {
    border-top-right-radius: 0;
  }
}
