<section class="no-auth position-relative">
  <div class="ops_404 position-absolute">
    <img src="images/404.png" alt="404" />
  </div>
  <div class="container">
    <div class="">
      <div class="logo">
        <img src="images/logoGroup.svg" alt="Logo" />
      </div>
    </div>
    <div class="mt-5">
      <div class="title">
        <h1>Oops.</h1>
        <p>Page not found</p>
      </div>
      <div class="mt-3">
        <p>
          This Page doesn’t exist or was removed! We suggest you back to home.
        </p>
      </div>
      <div class="mt-3">
        <button class="btn btn-primary" (click)="goToHome()">Back To Home</button>
      </div>
    </div>
  </div>
</section>
