h2 {
  font-weight: 600;
  font-size: 25px;
}

p {
  font-weight: 400;
  font-size: 16px;
}
.btn-primary {
    border-radius: 8px;
    background: #4aa35a;
    color: #fff;
    border: none;
    font-weight: 700;
    padding: 0.5rem 1rem;
   &.disabled{
    background: gray;
   } 
  }